parser: 'typescript'
trailingComma: 'none'
printWidth: 120
tabWidth: 4
useTabs: false
singleQuote: true
jsxSingleQuote: true
semi: true
bracketSpacing: true
jsxBracketSameLine: true
arrowParens: 'always'
insertPragma: false
htmlWhitespaceSensitivity: 'ignore'
endOfLine: 'crlf'